<div class="page-header">
  <div class="title">
    <div class="scopes"><</div>
    <div class="text-center">
      <h1>Search Languages</h1>
      <h2>Library of most popular languages</h2>
    </div>
    <div class="scopes">></div>
  </div>
</div>

<div class="form-search">
  <%= form_tag("/search_languages/index", method: 'post', remote: true ) do %>
    <input type="text" name="query" placeholder="Type your message here...">
    <input type="submit" value="GO">
  <% end %>
</div>

<div>
  <div id="languages" >
    <%= render partial: 'shared/languages', locals: { data: @data } %>
  </div>
</div>


