<div class="languages">
  <% data.each do |lang| %>
  <div class="language">
    <div>
      <h3><%= lang[:text_message] %></h3>
      <h3><%= lang["Name"] %></h3>
      <span><%= lang["Type"] %></span>
      <h5><%= lang["Designed by"] %></h5>
    </div>
  </div>
  <% end %>
</div>

